# figma-managed npm registry config start
@elilillyco:registry=https://registry.figma.com/npm/83949518-c349-47ed-bebf-3d03a18fc506/registry/
@make-kits:registry=https://registry.figma.com/npm/83949518-c349-47ed-bebf-3d03a18fc506/registry/
# figma-managed npm registry config end
